main > div  {
    margin-top: 3em !important;
}

button  {
    /* background-color: rgb(0, 0, 255) !important; */
    font-size: 1.8em !important;
}

#calc-screen    {font-size: 1.3em; background-color: #7f7f7f !important;}

@media (max-width:978px)    {
    button  {
        font-size: 1.5em !important;
        padding: 0.5em !important;
    }
    #calc-screen    {font-size: 1em; padding-bottom: 0em; margin-bottom: 1em;}
    #button-holder  {margin-top: 0rem !important;}
    #button-holder > .row >.column  {padding:0.5rem !important;}
    #button-holder > .row   {
        padding-bottom: 0rem !important;
        padding-top: 0rem !important;
    }
}

@media  (max-width:480px)   {
    button  {
        padding: 0.7em 0em 0.7em 0em!important;
        font-size: 1.2em !important;
    }
}

body    {height: max-content !important;}

button  {border-radius: 0.5em !important;}
#calc-output >.label  { border-top-left-radius: 0.5em; border-bottom-left-radius: 0.5em;}
#calc-output >input  { border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em;}